{% extends "layout.html" %}

{% block content %}
	<div class ="container-fluid">
		<ul class = "nav navbar-nav navbar-right">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li><a href="{{ url_for('about') }}">About Us</a></li>
			<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
			<li><a href="{{ url_for('add') }}">Request Job</a></li>
		</ul>
	</div>


	<section class="page row" id="about">
		<div class="col-sm-3"><h4>About Us</h4></div>
			<div class="col-sm-9"><p> We are here to facilitate all of your graphic and multimedia needs. Logo's, websites, business cards and more </br>
		if you can dream it we can make it a reality. Your vision is our mission!!! </p></div>
		</div>
    </section>
{% endblock %}

