<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Global Concepts LLC</title>
	<link href="{{ url_for('static', filename='css/gc.css') }}" rel="stylesheet">
	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
	<div class = "container">
		<a class ="brand" href =""><img src="static/img/gclogo.png"  width="600" height="100" alt="GClogo" />
			</a>
	</div>

    {% block content %}

    {% endblock %}

	<footer>
		<section>
    		<p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
    		<div class="copyright">&copy;2016 - <strong>CAREY</strong></div>
  		</section>


	</footer>
	<main class="row">

	<script src="static/js/jquery-picture-min.js"></script>
	<script src="static/js/bootsrap.min.js"></script>


</body>
</html>
